name: CommitLint

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0    

      - name: Validate PR commits
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.json